<button (click)="generageDocument()">Baixar</button>

<div id="seila1" class="seila" >
  <body  class="page">
    <p>
      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!
    </p>

    <p>
      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!

      Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Temporibus cupiditate pariatur maiores provident omnis ab repudiandae
      saepe delectus earum? Eius perspiciatis provident natus unde corrupti architecto excepturi illum cum impedit!
    </p>



  </body>

</div>
<div id="seila2" class="seila">
  <body  class="page">
    <p>
      ext messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters,
      between two or more users of mobile devices, desktops/laptops, or other type of compatible computer. Text messages may be sent over a cellular
      network, or may also be sent via an Internet connection.

The term originally referred to messages sent using the Short Message Service (SMS). It has grown beyond alphanumeric text to include multimedia messages usin
g the Multimedia Messaging Service (MMS) containing digital images, videos, and sound content, as well as ideograms known as emoji (happy faces, sad faces, a
nd other icons), and instant messenger applications (usually the term is used when on mobile devices).

Text messages are used for personal, family, business and social
 purposes. Governmental and non-governmental organizations use text messaging for communication between colleagues. In the 2010s, the sending of short informal m
 essages became an accepted part of many cultures, as happened earlier with emailing.[1] This makes texting a quick and easy way to communicate with friends, fa
 mily and colleagues, including in contexts where a call would be impolite or inappropriate (e.g., calling very late at night or when one knows the
  other person is busy with family or work activities). Like e-mail and voicemail and unlike calls (in which the caller hopes to speak direct
  ly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits
  communication even between busy individuals. Text messages can also be used to interact with automated systems, for example, to order
   products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct tex
   t marketing to send messages to mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.
    </p>

    <p>
      ext messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between
      two or more users of mobile devices, desktops/laptops, or other type of compatible computer. Text messages may be sent over a cellular network, or may
      also be sent via an Internet connection.

The term originally referred to messages sent using the Short Message Service (SMS). It has grown beyond alphanumeric text to include multimedia messages usin
g the Multimedia Messaging Service (MMS) containing digital images, videos, and sound content, as well as ideograms known as emoji (happy faces, sad faces, a
nd other icons), and instant messenger applications (usually the term is used when on mobile devices).
    </p>



  </body>

</div>

